* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



table
{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: solid 3px #990000;
    border-collapse: collapse;
}
 td{
     border: solid 2px #000fff;
     width: calc(500px / 7);
     height:calc(500px / 7) ;
     }
/* tr:nth-child(1) td:hover
{background-color:#ff5555;
}
tr:nth-child(2) td:hover
{background-color:#df7009;
}
tr:nth-child(3) td:hover
{background-color:#ecf006;
}
tr:nth-child(4) td:hover
{background-color:#055303;
}
tr:nth-child(5) td:hover
{background-color:#130468;
}
tr:nth-child(6) td:hover
{background-color:#070252;
}
tr:nth-child(7) td:hover
{background-color:#3f0347;
}

tr:nth-child(1)
{background-color:#ff8080;
}
tr:nth-child(2)
{background-color:#fa7f0c;
}
tr:nth-child(3)
{background-color:#f5f821;
}
tr:nth-child(4)
{background-color:#18aa13;
}
tr:nth-child(5)
{background-color:#715af5;
}
tr:nth-child(6)
{background-color:#0a0372;
}
tr:nth-child(7)
{background-color:#5f046b;
} */

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) 
{
    background-color: #000000;
}
